numpy
pandas
pytube
requests
scrapetube
streamlit
streamlit_analytics2

git+https://github.com/Rafipilot/embedding_bucketing
git+https://github.com/aolabsai/ao_streamlit
# git+https://github.com/aolabsai/ao_core
# git+https://github.com/aolabsai/ao_arch

beautifulsoup4  # for adding metadata to index.html when deploying with docker